
 <!-- Start of first page -->

  <div data-role="page" id="page1">

    <div data-role="header">
      <h1>THE FIRST PAGE OH YEAH </h1>
    </div>

<p>Demo code</p>

    <div data-role="content">
      <p>Changed Output - NEW</p>
      <p>Roll content into me I rock</p>
      <p>I'm first in the source order so I'm shown as the page.</p>
      <p>View internal page called <a href="#page3">page3</a></p>
    </div>

    <div data-role="footer">
      <h4>Page Footer</h4>
    </div>
  </div>

   <!-- End of first page -->